<div class="container">
    <div class="row">
      <div class="h4 p-2 m-3 bg-light text-bark">マイページ</div>
    </div>
    <div class="row">
      <div class="col-1 m-1">登録情報</div>
      <div class="col-4 m-1">
        <%= link_to "編集する", customers_mypage_edit_path, class: "btn btn-success" %>
      </div>
    </div>
    <div class="row">
      <table class="table table-bordered">
        <tr>
          <td class="table-active col-2">氏名</td>
          <td scope="col-3"><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <td class="table-active col-2">カナ</td>
          <td scope="col-3"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td class="table-active col-2">郵便番号</td>
          <td scope="col-3"><%= @customer.postal_code %></td>
        </tr>
        <tr>
          <td class="table-active col-2">住所</td>
          <td scope="col-3"><%= @customer.address %></td>
        </tr>
        <tr>
          <td class="table-active col-2">電話番号</td>
          <td scope="col-3"><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <td class="table-active col-2">メールアドレス</td>
          <td scope="col-3"><%= @customer.email %></td>
        </tr>
      </table>
    </div>
    <div class="row">
      <div class="col-1 m-1">配送先</div>
      <div class="col-4 m-1">
        <%= link_to "一覧を見る", shopping_addresses_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="row">
      <div class="col-1 m-1">注文履歴</div>
      <div class="col-4 m-1"><%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
      </div>
    </div>
</div>