<div class="container">
  <div class="row">
    <div class="col">注文履歴詳細</div>
  </div>
  <div class="row">
    <div class="col-4">購入者</div>
    <div class="col-1"></div>
    <div class="col-6"><%= @order.customer_id.name %></div>
  </div>
  <div class="row">
    <div class="col-4">注文日</div>
    <div class="col-1"></div>
    <div class="col-6"><%= @order.created_at %></div>
  </div>
  <div class="row">
    <div class="col-4">配送先</div>
    <div class="col-1"></div>
    <div class="col-6">〒<%= @order.postal_code %><%= @order.address %><%= @order.name %></div>
  </div>
  <div class="row">
    <div class="col-4">支払い方法</div>
    <div class="col-1"></div>
    <div class="col-6"><%= @order.payment_method %></div>
  </div>
  <div class="row">
    <div class="col-4">注文ステータス</div>
    <div class="col-1"></div>
    <div class="col-6"><%= @order.status %></div>
  </div>
</div>