<div class="container">
  <div class="row">
    <div class="h4 p-1 m-3 bg-light text-bark">配送先登録/一覧</div>
  </div>
  <%= form_with model: @shopping_address, url: shopping_addresses_path do |f| %>
  <div class="row">
    <div class="col-3 m-1">郵便番号（ハイフンなし）</div>
    <div class="col-2 m-1"><%= f.text_field :postal_code, class: "form-control" %></div>
  </div>
  <div class="row">
    <div class="col-3 m-1">住所</div>
    <div class="col-5 m-1"><%= f.text_field :address, class: "form-control" %></div>
  </div>
  <div class="row">
    <div class="col-3 m-1">宛名</div>
    <div class="col-2 m-1"><%= f.text_field :name, class: "form-control" %></div>
    <div class="col-3 m-1"></div>
    <div class="col-3 m-1"><%= f.submit '新規登録', class: "btn btn-success" %></div>
  </div>
  <% end %>
  <div class="row">
    <table class="table table-bordered my-5">
      <thead>
        <tr class="table-active">
          <th scope="col-1">郵便番号</th>
          <th scope="col-3">住所</th>
          <th scope="col-2">宛名</th>
          <th scope="col-4"></th>
        </tr>
      </thead>
      <tbody>
        <% @shopping_addresses.each do |shopping_address| %>
        <tr>
          <td cope="col-1"><%= shopping_address.postal_code %></td>
          <td scope="col-3"><%= shopping_address.address %></td>
          <td scope="col-2"><%= shopping_address.name %></td>
          <td scope="col-4">
            <%= link_to "編集する", edit_shopping_address_path(shopping_address), class: "btn btn-success m-1" %>
            <%= link_to "削除する", shopping_address_path(shopping_address), method: :delete, class: "btn btn-danger m-1" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>