<div class="container">
  <div class="row">
    <div class="h4 p-2 m-3 bg-light text-bark">注文履歴一覧</div>
  </div>
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <tr class="table-active">
          <th scope="col-1">注文日</th>
          <th scope="col-4">配送先</th>
          <th scope="col-2">注文商品</th>
          <th scope="col-1">支払い金額</th>
          <th scope="col-2">ステータス</th>
          <th scope="col-2">注文詳細</th>
        </tr>
      </thead>
      <% @orders.each do |order| %>
      <tbody>
        <tr>
          <td scope="col-1"><%= order.created_at.strftime('%Y/%m/%d') %></td>
          <td scope="col-4">〒<%= order.postal_code %><br><%= order.address %><br><%= order.name %></td>
          <td scope="col-2">
            <% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %><br>
            <% end %>
          </td>
          <td scope="col-1"><%= order.total_payment %>円</td>
          <td scope="col-2"><%= order.status_i18n %></td>
          <td scope="col-2"><%= link_to '表示する', order_path(order.id), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>