<%= form_with model: @order, url: orders_confirm_path do |f| %>
<div class="container">
  <div class="row">
    <div class="col">注文情報入力</div>
  </div>
  <div class="row">
    <div class="col">支払い方法</div>
  </div>
  <div class="row">
    <div class="col">
       <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
       <%= f.label Order.payment_methods_i18n[:credit_card] %>
       <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
       <%= f.label Order.payment_methods_i18n[:transfer]%>
    </div>
  </div>
  <div class="row">
    <div class="col">お届け先</div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.radio_button :address_select, "1" %>
      <%= f.label :address_select_1, "ご自身の住所" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= current_customer.address %>
      <%= current_customer.postal_code %>
      <%= current_customer.full_name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <%= f.radio_button :address_select, "2" %>
       <%= f.label :address_select_2, "登録済住所から選択" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <%= f.select :select_id, options_from_collection_for_select(ShoppingAddress.all, :id, :address_display) %>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <%= f.radio_button :address_select_3, "3" %>
       <%= f.label :address_select_3, "新しいお届け先" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
       <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
       <%= f.text_field :postal_code, class: "form-control" %>
       <%= f.label :address, "住所" %>
       <%= f.text_field :address, class: "form-control" %>
       <%= f.label :name, "宛名" %>
       <%= f.text_field :name, class: "form-control" %>
       <%= f.submit '登録', class: "btn btn-success" %>
    </div>
  </div>
<% end %>
</div>