<div class="container">
  <div class="row">
    <div class="col-3">
     <%= render 'list', genres: @genres %>
    </div>
    <div class="item col-3">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>
    <div class="col-1"></div>
    <div class="item col-5">
      <table class="item table table-borderless">
        <tr>
          <th><%= @item.name %></th>
        </tr>
        <tr>
          <th><%= @item.introduction %></th>
        </tr>
        <tr>
          <th><%= @item.genre.name %></th>
        </tr>
        <tr>
          <th>¥<%= @item.add_tax_price.to_s(:delimited) %>（税込）</th>
        </tr>
        <tr>
          <th><%= form_with model: @cart_item, url: cart_items_path do |f| %>
          <%= f.select :amount, *[1..10] %>
          <%= f.hidden_field :item_id, :value => @item.id %>
          <%= f.submit 'カートに入れる', class:"btn btn-success" %>
          <% end %></th>
        </tr>
      </table>
    </div>
  </div>
</div>